eula --agreed
install
url --mirrorlist=http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=os
cmdline

lang en_US.UTF-8
keyboard us
timezone --utc Etc/UTC

auth --useshadow --passalgo=sha512
firstboot --disabled
firewall --disabled
selinux —-permissive
network --onboot yes --bootproto=dhcp --device=eth0 --activate --noipv6

## Account setup
rootpw --plaintext centos --lock
user --name=centos --groups=centos --password=centos --plaintext

services --enabled=NetworkManager,sshd
skipx
unsupported_hardware

## Partitioning
bootloader --timeout=1
zerombr
ignoredisk --only-use=sda
clearpart --all --initlabel --drives=sda
part /boot --fstype xfs --size=512 --asprimary
part pv.01 --size=20480 --grow
volgroup sysvg pv.01
logvol swap             --vgname=sysvg --recommended  --label=lvswap    --name=swap   --fstype swap --fsoptions="nodev"
logvol /                --vgname=sysvg --size=10240   --label=lvroot    --name=root   --fstype xfs
logvol /tmp             --vgname=sysvg --size=2048    --label=lvtmp     --name=tmp    --fstype xfs  --fsoptions="nodev,noexec,nosuid"
logvol /var/lib/docker  --vgname=sysvg --size=10240   --label=lvdocker  --name=docker --fstype xfs  --grow

## Packages
%packages
@core
btrfs-progs
gcc
java-1.8.0-openjdk-headless.x86_64
kernel-devel
kernel-headers
vim-enhanced.x86_64
which
yum-config-manager
# Packages in the @core group to not install
-*-firmware
-dracut-config-rescue
-iprutils
-microcode_ctl
-plymouth
-postfix
-rdma
%end

reboot

## Post Install script
%post --erroronfail
yum -y update

cat <<EOF > /etc/sudoers.d/centos
Defaults:centos !requiretty
centos ALL=(ALL) NOPASSWD: ALL
EOF
chmod 440 /etc/sudoers.d/centos

ln -s /dev/null /etc/udev/rules.d/80-net-name-slot.rules
cat > /etc/sysconfig/network-scripts/ifcfg-eth0 <<EOF
DEVICE="eth0"
BOOTPROTO="dhcp"
ONBOOT="yes"
TYPE="Ethernet"
EOF

cat > /etc/motd /etc/issue /etc/issue.net <<EOF
\s \v
Kernel \r on an \m
EOF
%end
